<!DOCTYPE html>
<% if request.path.split('/')[1] != "en"%>
    <html lang="ko">
    <head>
    <title>지산화학(주)</title>
<% else %>
    <html lang="en">
    <head>
    <title>JISAN Chem, LTD</title>
<% end %>
        
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=<%=ENV['NAVER_CLIENT_ID']%>"></script>
</head>
<body>
    <%= yield %>
    <hr>
  <div class="container">
    <footer>
      <div class="footer_content">
        <p>고객문의 | 제품담당자</p>
        <p>서울특별시 영등포구 경인로 71길 70, 1202-4호(문래동 5가, 벽산디지털밸리) | 대표전화 : 02-2678-8257</p>
        <p>Copyright © 2017 JISAN Chem, LTD All Rights Reserved.</p>
      </div>
    </footer>
  </div>
<script>
$(document).ready(function(){
    $("#nav-company").hover(function(){
        $(".subnav-company").css("display","flex");
        }, function(){
        $(".subnav-company").css("display","none");
    });
    
    $(".subnav-company").hover(function(){
        $(".subnav-company").css("display","flex");
        $('#nav-company>a').css("color","white");
        $('#nav-company>a').css("background-color","blue");
        }, function(){
        $(".subnav-company").css("display","none");
        $('#nav-company>a').css("color","");
        $('#nav-company>a').css("background-color","");
    });
    
    $("#nav-businessarea").hover(function(){
        $(".subnav-businessarea").css("display","flex");
        }, function(){
        $(".subnav-businessarea").css("display","none");
    });
    
    $(".subnav-businessarea").hover(function(){
        $(".subnav-businessarea").css("display","flex");
        $('#nav-businessarea>a').css("color","white");
        $('#nav-businessarea>a').css("background-color","blue");
        }, function(){
        $(".subnav-businessarea").css("display","none");
        $('#nav-businessarea>a').css("color","");
        $('#nav-businessarea>a').css("background-color","");
    });
    
    $("#nav-product-introduce").hover(function(){
        $(".subnav-product-introduce").css("display","flex");
        }, function(){
        $(".subnav-product-introduce").css("display","none");
    });
    
    $(".subnav-product-introduce").hover(function(){
        $(".subnav-product-introduce").css("display","flex");
        $('#nav-product-introduce>a').css("color","white");
        $('#nav-product-introduce>a').css("background-color","blue");
        }, function(){
        $(".subnav-product-introduce").css("display","none");
        $('#nav-product-introduce>a').css("color","");
        $('#nav-product-introduce>a').css("background-color","");
    });
    
    $("#nav-product-sale").hover(function(){
        $(".subnav-product-sale").css("display","flex");
        }, function(){
        $(".subnav-product-sale").css("display","none");
    });
    
    $(".subnav-product-sale").hover(function(){
        $(".subnav-product-sale").css("display","flex");
        $('#nav-product-sale>a').css("color","white");
        $('#nav-product-sale>a').css("background-color","blue");
        }, function(){
        $(".subnav-product-sale").css("display","none");
        $('#nav-product-sale>a').css("color","");
        $('#nav-product-sale>a').css("background-color","");
    });
    
     $("#nav-support").hover(function(){
        $(".subnav-support").css("display","flex");
        }, function(){
        $(".subnav-support").css("display","none");
    });
    
    $(".subnav-support").hover(function(){
        $(".subnav-support").css("display","flex");
        $('#nav-support>a').css("color","white");
        $('#nav-support>a').css("background-color","blue");
        }, function(){
        $(".subnav-support").css("display","none");
        $('#nav-support>a').css("color","");
        $('#nav-support>a').css("background-color","");
    });
});
</script>
</body>
</html>
